{% extends 'base.html' %}

{% block title %}Campus Scheduler Project{% endblock %}

{% block content %}

<section class="mt-4 content-box-area">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-4">
                {%include 'profileblock.html' %}
            </div>
            <div class="col-xl-8">
                <div class="content-box-card card">
                    <div class="card-body portfolio-card">
                        <div class="portfolio-details-area">
                            <div class="main-image">

                                <img src="../assets/img/projects/2/1.webp" alt="Campus Scheduler Overview">
                            </div>
                            <div class="portfolio-details-text">
                                <div class="short-info">
                                    <div class="info-item">
                                        <p class="subtitle">Project:</p>
                                        <h4 class="card-title">Campus Scheduler</h4>
                                    </div>
                                    <div class="info-item">
                                        <p class="subtitle">Core Functionality:</p>
                                        <h4 class="card-title">Project/Task Tracking,
                                        </h4>
                                        <a href="https://preginex.fun" class="website"></a>
                                    </div>
                                    <div class="info-item">
                                        <div class="image-item">
                                            <img src="../assets/img/projects/2/3.webp"
                                                alt="Campus Scheduler Class Diagram Snippet" class="w-100 img-fluid">
                                            <a href="../assets/img/projects/2/2.webp"
                                                class="gallery-popup full-image-preview parent-container">

                                            </a>
                                        </div>

                                    </div>

                                </div>
                                <div class="overview">
                                    <h4 class="card-title">Overview</h4>
                                    <p>Campus Scheduler is a web-based platform designed to help businesses,
                                        particularly Small to Medium Enterprises (SMEs), Startups, and Tech companies,
                                        manage their workflows effectively through a role-based interface (<i>Admin,
                                        Manager, Worker</i> ). Hosted on Railway, it simplifies project management, event
                                        scheduling, task assignment, and team communication.</p>
                                    <p>Users can register directly or sign in using Google Authentication. The system
                                        uses a PostgreSQL database for robust data storage and utilizes a tech
                                        stack chosen for rapid development and flexibility:
                                    </br>
                                    </br>
                                        <b>Frontend:</b> HTML, CSS, JavaScript.
                                        </br>
                                        <b>Backend:</b> Python (Flask), using REST APIs.
                                        </br>
                                        <b>Database:</b> PostgreSQL.
                                        </br>
                                    </p>
                                    <p>The platform aims to provide a cost-effective solution, initially free, with
                                        potential for a future subscription model. It was made with learning in mind.</p>
                                </div>
                            </div>
                            <div class="inner-images">
                                   
                                <div class="prev-and-next-btn">
                                    <a href="/project-details/{{ next_project | default('#') }}" class="btn btn-next">
                                        Next
                                    </a>
                                    <a href="/project-details/{{ previous_project | default('#') }}"
                                        class="btn btn-prev">
                                        Previous
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>

{% endblock %}