{% extends 'base.html' %} {% block title %}Subtitles Generator Bot{% endblock %} {% block content %}

<section class="mt-4 content-box-area">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-4">{%include 'profileblock.html' %}</div>
            <div class="col-xl-8">
                <div class="content-box-card card">
                    <div class="card-body portfolio-card">
                        <div class="portfolio-details-area">
                            <div class="main-image">
                                <img
                                    src="../assets/img/projects/1/1.webp"
                                    alt="Subtitles Generator Bot Interface" />
                            </div>
                            <div class="portfolio-details-text">
                                <div class="short-info">
                                    <div class="info-item">
                                        <p class="subtitle">Project:</p>
                                        <h4 class="card-title">Subtitles Generator Bot</h4>
                                    </div>
                                    <div class="info-item">
                                        <p class="subtitle">Core Functionality:</p>
                                        <h4 class="card-title">Transcription</h4>
                                        <a class="website">https://captionyx.com</a>
                                    </div>
                                    <div class="info-item">
                                        <img
                                            src="../assets/img/projects/1/3.webp"
                                            alt="Bot Transcription Example" />
                                    </div>
                                </div>
                                <div class="overview">
                                    <h4 class="card-title">How the Bot Works</h4>
                                    <p>
                                        The Subtitles Generator bot operates through a series of steps to download,
                                        transcribe, and process video subtitles via a user-friendly Telegram interface.
                                    </p>

                                    <p>
                                        The bot provides options for downloading videos, transcribing them, and
                                        generating subtitles.
                                    </p>

                                    <p>
                                        Using <i>yt_dlp</i>, the bot downloads videos from various platforms. Users can
                                        customize download options like quality and format, receiving real-time progress
                                        updates.
                                    </p>

                                    <p>
                                        Once downloaded, the bot uses a custom Whisper transcription model
                                        `victor-upmeet/whisperx`) to convert audio into text accurately. Users can set
                                        duration limits for transcription.
                                    </p>

                                    <p>
                                        Subtitles are generated from the transcribed text. Users can choose to receive
                                        subtitle files (.srt, .vtt) or have them baked directly into the video.
                                    </p>

                                    <p>
                                        The bot integrates with AWS S3 for storing videos and subtitles. It can also
                                        generate secure access URLs using AWS CloudFront.
                                    </p>

                                    <p>
                                        Running the bot requires a local `telegram-bot-api` server and setting
                                        environment variables (bot token, AWS keys, email settings, etc.)
                                    </p>
                                </div>
                            </div>

                            <div class="prev-and-next-btn">
                                <a
                                    href="/project-details/{{ next_project | default('#') }}"
                                    class="btn btn-next">
                                    Next
                                </a>
                                <a
                                    href="/project-details/{{ previous_project | default('#') }}"
                                    class="btn btn-prev">
                                    Previous
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
