<div class="frequently-asked-questions">
    <h2 class="main-common-title">Frequently Asked Questions</h2>
    <div class="frequently-asked-questions-main">
        <div class="accordion" id="accordionExample">
            <!-- FAQ 1 -->
            <div class="accordion-item">
                <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What technologies are you proficient in?
                        <span class="ms-auto">
                            <span class="icon ms-4">
                                <img class="icon-plus" src="assets/img/icons/plus.svg" alt="plus">
                                <img class="icon-minus d-none" src="assets/img/icons/minus.svg" alt="minus">
                            </span>
                        </span>
                    </button>
                </h4>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            I have strong expertise in <strong>Python, C/C++, and C#</strong> as well as <strong>HTML,
                                CSS, and
                                JavaScript</strong>. I work with frameworks like <strong>Flask</strong> and
                            <strong>FastAPI</strong>, leveraging
                            libraries such as <strong>NumPy, Pandas, and Matplotlib</strong> for data science projects.
                            I also have extensive
                            experience with <strong>Docker</strong> and <strong>Git</strong> for DevOps practices, and
                            I'm proficient in cloud
                            platforms like <strong>AWS</strong> and deployment tools such as <strong>Railway</strong>.
                            Currently, I am
                            developing and maintaining a backend service using <strong>Java Spring Boot</strong>
                            with
                            <strong>Postgres</strong> for database management, while adhering to industry standards by
                            incorporating
                            <strong>OpenAPI</strong> and <strong>Swagger</strong> for API documentation.
                            Additionally, I utilize
                            <strong>database UML</strong> diagrams for database design and modeling.
                        </p>

                        </p>
                    </div>
                </div>
            </div>
            <!-- FAQ 2 -->
            <div class="accordion-item">
                <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What kind of projects have you developed?
                        <span class="ms-auto">
                            <span class="icon ms-4">
                                <img class="icon-plus" src="assets/img/icons/plus.svg" alt="plus">
                                <img class="icon-minus d-none" src="assets/img/icons/minus.svg" alt="minus">
                            </span>
                        </span>
                    </button>
                </h4>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>My projects range from developing <strong>Static websites</strong> to Full Stack Applications
                            like, subtitles generator, a campus scheduling platform, running experimental games on
                            <strong>oTree</strong> etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How do you stay current with industry trends?
                        <span class="ms-auto">
                            <span class="icon ms-4">
                                <img class="icon-plus" src="assets/img/icons/plus.svg" alt="plus">
                                <img class="icon-minus d-none" src="assets/img/icons/minus.svg" alt="minus">
                            </span>
                        </span>
                    </button>
                </h4>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>I actively contribute to open-source projects, engage with tech communities, and keep
                            learning through both academic courses and personal projects. In that way, I try to remain
                            up-to-date with the latest developments in software engineering</p>
                    </div>
                </div>
            </div>
            <!-- FAQ 4 -->
            <div class="accordion-item">
                <h4 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What is your approach to problem solving?
                        <span class="ms-auto">
                            <span class="icon ms-4">
                                <img class="icon-plus" src="assets/img/icons/plus.svg" alt="plus">
                                <img class="icon-minus d-none" src="assets/img/icons/minus.svg" alt="minus">
                            </span>
                        </span>
                    </button>
                </h4>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>I believe in clean, efficient solutions. I solve challenges by breaking them down in small
                            pieces, exploring
                            multiple approaches, and implementing strong, scalable solutions that leverage my strong
                            technical foundation and practical experience.</p>
                    </div>
                </div>
            </div>
            <!-- FAQ 5 -->
            <div class="accordion-item">
                <h4 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Why should you consider working with me?
                        <span class="ms-auto">
                            <span class="icon ms-4">
                                <img class="icon-plus" src="assets/img/icons/plus.svg" alt="plus">
                                <img class="icon-minus d-none" src="assets/img/icons/minus.svg" alt="minus">
                            </span>
                        </span>
                    </button>
                </h4>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>My diverse experience in software development with a
                            passion for innovation and collaborative teamwork enables me quickly adapt to new
                            environments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>