{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}

<section class="home-area">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-4">{% include 'profileblock.html' %}</div>
            <div class="col-xl-4">
                <div class="col-lg-12">
                    <div class="card expertise-card">
                        <div class="card-body">
                            <h3 class="card-title">Technologies</h3>
                            <div class="mt-24 expertise-main">
                                <div class="row g-3">
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                                        <div class="expertise-item">
                                            <div class="text-center image">
                                                <img
                                                    src="assets/img/icons/go.svg"
                                                    alt="Golang" />
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Go</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                                        <div class="expertise-item">
                                            <div class="text-center image">
                                                <img
                                                    src="assets/img/icons/python.svg"
                                                    alt="python" />
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Python</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                                        <div class="expertise-item">
                                            <div class="text-center image">
                                                <img
                                                    src="assets/img/icons/javascript.svg"
                                                    alt="javascript" />
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Javascript</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                                        <div class="expertise-item">
                                            <div class="text-center image">
                                                <img
                                                    src="assets/img/icons/sql.svg"
                                                    alt="sql" />
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Postgres</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                                        <div class="expertise-item">
                                            <div class="text-center image">
                                                <img
                                                    src="assets/img/icons/docker.svg"
                                                    alt="docker" />
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Docker</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                                        <div class="expertise-item">
                                            <div class="text-center image">
                                                <img
                                                    src="assets/img/icons/kubernetes.svg"
                                                    alt="Kubernetes" />
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Kubernetes</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-lg-12">
                    <div class="card company-experience-card">
                        <div class="card-body">
                            <h3 class="card-title experience-header">Company Experience</h3>
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="experience-item">
                                        <div class="text">
                                            <h4 class="card-title">Acronis</h4>
                                            <span class="subtitle"
                                                >Junior Software Developer | <br />
                                                Sept 2025 - Present
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-24 experience-main">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="experience-item">
                                            <div class="text">
                                                <h4 class="card-title">Acronis</h4>
                                                <span class="subtitle"
                                                    >Intern @ Research and development | <br />
                                                    Jun 2025 - Aug 2025
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-lg-12">
                    <div class="card lets-talk-together-card">
                        <div class="card-body">
                            <h3 class="card-title">
                                Say
                                <span class="d-block">Hello 👋 :)</span>
                            </h3>
                            <a
                                class="link-btn"
                                href="/contact">
                                Contact
                                <svg
                                    class="icon"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 20 20"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.5 11.6665V6.6665H12.5"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M17.5 6.6665L10 14.1665L2.5 6.6665"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card card-projects">
                    <div class="card-body">
                        <h3 class="card-title">
                            Recent Projects
                            <a
                                class="link-btn"
                                href="/portfolio"
                                >All Projects
                                <svg
                                    class="icon"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 20 20"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.16699 10H15.8337"
                                        stroke="#4770FF"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M10.833 15L15.833 10"
                                        stroke="#4770FF"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M10.833 5L15.833 10"
                                        stroke="#4770FF"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </h3>
                        <div class="mt-24 projects-main">
                            <div class="row g-4 parent-container">
                                <div class="col-lg-12">
                                    <div class="project-item">
                                        <div class="image">
                                            <img
                                                src="assets/img/projects/1/1.webp"
                                                alt="project-1"
                                                class="w-100 img-fluid" />
                                            <a
                                                href="assets/img/projects/1/1.webp"
                                                class="gallery-popup full-image-preview parent-container">
                                                <svg
                                                    class="icon"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.5">
                                                    <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                                                </svg>
                                            </a>
                                            <div class="info">
                                                <span class="category">Web service</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="project-item">
                                        <div class="image">
                                            <img
                                                src="assets/img/projects/2/1.webp"
                                                alt="project-2"
                                                class="w-100 img-fluid" />
                                            <a
                                                href="assets/img/projects/2/1.webp"
                                                class="gallery-popup full-image-preview parent-container">
                                                <svg
                                                    class="icon"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.5">
                                                    <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                                                </svg>
                                            </a>
                                            <div class="info">
                                                <span class="category">Project Management</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="project-item">
                                        <div class="image">
                                            <img
                                                src="assets/img/projects/3/1.webp"
                                                alt="project-3"
                                                class="w-100 img-fluid" />
                                            <a
                                                href="assets/img/projects/3/1.webp"
                                                class="gallery-popup full-image-preview parent-container">
                                                <svg
                                                    class="icon"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.5">
                                                    <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                                                </svg>
                                            </a>
                                            <div class="info">
                                                <span class="category">Portfolio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
